/Client/.vs 
/Server/.vs 
/Client/x64 
/Server/x64
/.vs
*.exe 
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db
*.json
*.command
Client/CyberZ_Client/x64/Release/CyberZ_Client.iobj
Client/CyberZ_Client/x64/Release/CyberZ_Client.ipdb
Server/CyberZ_Server/x64/Release/CyberZ_Server.iobj
Server/CyberZ_Server/x64/Release/CyberZ_Server.ipdb
